<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Willkommen auf zimmer-celle.de{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container-fluid p-0">
            {% block navigation %}
                <div class="navigation">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">Startseite</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Winsen Aller</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Vermietungen
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{ path('app_houses', {'houses': 'hilde'}) }}">Haus "Hilde"</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_houses', {'houses': 'melina'}) }}">Ferienwohnung "Melina"</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_houses', {'houses': 'city'}) }}">Wohnung "City"</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_houses', {'houses': 'e3'}) }}">Ferienhaus "E3"</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            {% endblock %}
            {% block header %}
            <div class="slider-header">
                <div id="carouselZimmer" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('build/images/header/header_1.jpg')}}" class="d-block w-100" alt="Winsen Aller">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('build/images/header/header_2.jpg')}}" class="d-block w-100" alt="Lüneburger Heide">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('build/images/header/header_3.jpg')}}" class="d-block w-100" alt="Haus Hilde">
                        </div>
                    </div>
                </div>
                <div class="header-balken">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col align-middle justify-content-center text-center"><span>Zimmer</span><br><span style="color:darkred">Celle</span></div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block content %}
            {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
